In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('train.csv', usecols = ['Age','Pclass','Fare','Survived'])

In [5]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

#### train test split

In [12]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=29)

In [28]:
X_train.head()

     Pclass   Age      Fare
638       3  41.0   39.6875
36        3   NaN    7.2292
498       1  25.0  151.5500
828       3   NaN    7.7500
590       3  35.0    7.1250

## Imputing the Age column with KNN Imputer

In [52]:
# imputation
knn = KNNImputer(weights = 'distance', n_neighbors = 5)

X_train_transformed = knn.fit_transform(X_train)
X_test_transformed = knn.transform(X_test)

In [53]:
# training and evaluation
lr = LogisticRegression()
lr.fit(X_train_transformed, y_train)

y_pred = lr.predict(X_test_transformed)
lr.score(X_test_transformed, y_test)

0.6983240223463687